<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>关于我们</h1>
			<p>1赵云的经历告诉我们：个人实力再强，若只想着高薪，结果只有一个：有职业，没事业。2张飞的下场告诉我们：要善待员工，若是长期压制奴役，必将得到报复，即使不报复也会导致集体罢工或跳槽。3董卓的下场告诉我们：儿子是不能乱认的，尤其是有前科的，更何况自己是大款，为得家产甘当孙子的都有。</p>
		</div>
	</div>
</div>
