<!DOCTYPE html>
<html>
<head>
  <title>Intimate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="/assets/fullcalendar.min.css" rel="stylesheet">
  <link href="/assets/fullcalendar.print.css" rel="stylesheet" media="print">
  <script src="/assets/moment.min.js"></script>
  <script src="/assets/fullcalendar.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        defaultDate: '2014-09-12', /*new Date(),*/
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
          ]
      });
      
    });

  </script>
  <style>

    body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }

  </style>
</head>

<body class="grey">

  <section>
    <div class="block center">
      <%= link_to "intimate", current_user, id:"logo" %>
    </div>
    <div id='calendar'></div>
  </section>
  
</body>
</html>