<li>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<a style="font-size:200%;"><%= remind.alarm.strftime("%Y-%m-%d %I:%M %p") %></a>
			<p><%= remind.content %></p>
		</div>
	</div>
</li>