<% content_for :for_head do %>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  	<link rel="stylesheet" type="text/css" href="/assets/normalize.css">
  	<link rel="stylesheet" type="text/css" href="/assets/profile_tabs.css">
  	<link rel="stylesheet" type="text/css" href="/assets/tabs.css">
  	<link rel="stylesheet" type="text/css" href="/assets/tabstyles.css">
  	<script src="/assets/modernizr.custom.js"></script>
<% end %>
<svg class="hidden">
	<defs>
		<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
	</defs>
</svg>

<div class="container">
	
		<div class="avatar">
			<h1><%= image_tag("profile.jpg", alt: "profile")%></h1>
		</div>
		<h1><%= @user.name %></h1>
		<h1><%= link_to "个人设置", edit_user_path(current_user), class:"btn, btn-outline-inverse, login-attractive" %></h1>

		<div class="tabs tabs-style-shape">
			<nav>
				<ul>
					<li>
						<a href="#section-shape-1">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>今日记账</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-2">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>我的计划</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-3">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>双方通知</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-4">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>待定</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-5">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>时光纵览</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="content-wrap">
				<section id="section-shape-1"><%= render 'finance/index' %></section>
				<section id="section-shape-2"><p>2</p><p>2</p><p>2</p><p>2</p></section>
				<section id="section-shape-3"><p>3</p></section>
				<section id="section-shape-4"><p>4</p></section>
				<section id="section-shape-5"><p>5</p></section>
			</div><!-- /content -->
		</div><!-- /tabs -->

	<script src="/assets/cbpFWTabs.js"></script>
		<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
	</script>
</div>