<div class="container">
	<div class="jumbotron">
		<div class="container block">
			<%= form_for(@memory) do |f| %>

				<div class="form-group">
					<%= f.text_field :memorydate,  placeholder: (Time.new).strftime("%Y-%m-%d"), readonly: true, class: 'form-control', 'data-date-format' => 'YYYY-MM-DD' %>	
			    </div>
			    
			    <div class="form-group">
			        <%= f.text_field :content, placeholder: '事件', class: 'form-control' %>
			    </div>

			    <h2>
			        <%= f.submit "保存", class: "btn btn-default btn-primary btn-absolute-default" %>
			    </h2>
		    <% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
        $('#memory_memorydate').datetimepicker({
			pickTime: false
		});
    });
</script>