/*
**home
*/

/*system*/
.system {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.system .block {
	width: 430px;
	padding: 60px 60px 40px;
	background: #fff;
	text-align: center;
	margin: 40px auto 20px;
	overflow: hidden;
}

/*block*/

.block #logo {
	color: #20B8E8;
	float: center;
}

