/*intimate origin*/

.intimate_origin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100%;
    background-image: image-url("intimate.png");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
}

/** 
* Outline inverse Button 
*/
a.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
a.btn-outline-inverse:hover, a.btn-outline-inverse:focus, a.btn-outline-inverse:active {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.login-attractive,
.signup-attractive{
  border-width: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color:white;
  border-radius: 50px;
  padding: 10px 22px;
  background-color: rgba(32,184,232,.25) !important;
  font-size: 18px;
}

.login-attractive:hover,
.signup-attractive:hover {
  background-color: #fff !important;
  transition: ease background-color 0.4s;
  text-decoration: none;
  color:#20B8E8;
}

/*guide block*/

.intimate_origin .guide-block {
    position: absolute;
    top: 50%;
    margin-top: -125px;
}

.intimate_origin h1, .intimate_origin h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-align: center;
}
.intimate_origin h1 {
    font-size: 50px;
    line-height: 60px;
}
.intimate_origin .guide-block h1 {
    letter-spacing: -2px;
}

.intimate_origin h2 {
    font-style: italic;
    font-weight: 500;
    margin: 0 auto 40px;
}
.intimate_origin .container {
    position: relative;
    height: 100%;
}
