<div class="container">
	<div class="jumbotron">
		<div class="container block">
			<%= form_for(@plan) do |f| %>
			    
			    <div class="form-group">
			        <%= f.text_field :title, placeholder: '标题', class: 'form-control' %>
			    </div>
			      
			    <div class="form-group">
			        <%= f.text_area :detail, :rows => 12, :cols => 100, placeholder: '具体内容', class: 'form-control feedback-content' %>
			    </div>

			    <h2>
			        <%= f.submit "保存", class: "btn btn-default btn-primary btn-absolute-default" %>
			    </h2>
		    <% end %>
		</div>
	</div>
</div>
