<footer class="footer">
  <small>
    <a href="http://boiling-plains-8062.herokuapp.com/">P&P</a>
    by Vic Zhou
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系我们", feedback_path %></li>
      <li><a href="http://www.cnbeta.com/">技术新闻</a></li>
    </ul>
  </nav>
</footer>