<footer class="footer">
  <div class="navbar-inner">
    <div class="container">
      <small>
        <a href="https://github.com/viczy/intimate_web">INTIMATE--github</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "关于",   about_path %></li>
          <li><%= link_to "联系我们", new_feedback_path %></li>
          <li><a href="http://viczy.github.io/">作者博客</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>