<div>
    <ul id="navigation">
        <li class="home"><%= link_to "个人资料", current_user %></li>
        <li class="finance"><%= link_to "账单", finance_detail_path %></li>
        <li class="plan tab_current"><a href="" title="Plan"></a></li>
        <li class="notice"><a href="" title="Notice"></a></li>
        <li class="memory"><a href="" title="Memory"></a></li>
        <li class="happiness"><%= link_to "时光纵览", times_path %></li>
    </ul>
</div>

<script>
    $(function() {
        $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

        $('#navigation > li').hover(
            function () {
                $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
            },
            function () {
                $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
            }
        );
    });
</script>